<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accounts</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Accounts</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range .accounts}}
    <tr>
        <td><a href="/my-accounts/{{.ID}}">{{.Name}}</a></td>
        <td>$ {{printf "%.2f" .Balance}}</td>
        <td>
            <button onclick="deleteAccount('{{.ID}}')">Delete</button>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

<h2>Create New Account</h2>
<form id="createAccountForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="initialBalance">Initial Balance:</label>
    <input type="number" step="0.01" id="initialBalance" name="initialBalance" required>

    <button type="submit">Create Account</button>
</form>

</body>
<script>

    function deleteAccount(accountID) {
        var confirmed = confirm('Are you sure you want to delete this account? All account transactions will be deleted as well.');
        if (!confirmed) {
            return;
        }
        fetch('/accounts/'+accountID, {
            method: 'DELETE',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                location.reload()
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Failed to delete account: ' + error.message);
            });
    }

    document.addEventListener('DOMContentLoaded', function () {

        document.getElementById('createAccountForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var name = document.getElementById('name').value;
            var initialBalance = document.getElementById('initialBalance').value;

            var newAccount = {
                name: name,
                initial_balance: parseFloat(initialBalance)
            }

            fetch('/accounts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newAccount)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    location.reload();
                    document.getElementById('createAccountForm').reset();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Failed to add account: ' + error.message);
                });
        });

    });
</script>
</html>